<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" th:href="@{/css/global.css}" />
        <title>Access Denied</title>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <div class="container">
            <article class="message is-danger mt-5">
                <div class="message-header">
                    <p>Access Denied</p>
                    <button class="delete" aria-label="delete"></button>
                </div>
                <div class="message-body">You do not have permission to access this page.</div>
            </article>
        </div>
    </body>
</html>
