<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1" />
        <title>Data</title>
        <link rel="stylesheet" th:href="@{/css/global.css}" />
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <div class="container">
            <div class="card my-5 mx-auto" style="max-width: 800px !important">
                <div class="card-content">
                    <h1 class="title has-text-centered my-5">Data</h1>
                    <div>
                        <ul>
                            <li th:text="'number of data points: ' + ${numPoints}"></li>
                        </ul>
                        <div class="has-text-centered">
                            <img
                                class="img-fluid"
                                src="https://moodyjay.herokuapp.com/get_image_2"
                                alt="Pairwise Plots"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
