<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1" />
        <title>Data</title>
        <link rel="stylesheet" th:href="@{/css/global.css}" />
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <h1>Data</h1>
        <div>
            <h3>Data</h3>
            <ul>
                <li th:text="'number of data points: ' + ${numPoints}"></li>
            </ul>
            <div>
                <img
                    class="img-fluid"
                    src="#"
                    alt="Pairwise Plots"
                    th:src="@{http://localhost:5000/get_image_2}"
                />
            </div>
        </div>
        <a href="#" th:href="@{/}">Home</a>
    </body>
</html>
