<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
    <head>
        <meta charset="ISO-8859-1" />
        <title>Audio Feels</title>
        <link rel="stylesheet" th:href="@{/css/global.css}" />
    </head>
    <body>
        <div
            class="container has-text-centered is-flex is-justify-content-center is-align-items-center"
        >
            <div>
                <h1 class="title">Audio Feels</h1>
                <!-- User not logged in -->
                <div sec:authorize="!isAuthenticated()">
                    <p class="is-size-5 mb-3">Please sign in to view the dashboard 👇</p>
                    <a href="/login" class="button is-black is-medium">Sign In</a>
                </div>
                <!-- User logged in -->
                <div sec:authorize="isAuthenticated()">
                    <p class="is-size-5 mb-3">
                        Add, rate, and delete songs by using the dashboard 👇
                    </p>
                    <a href="/tracks" class="button is-black is-medium">View Dashboard</a>
                </div>
            </div>
        </div>
    </body>
</html>
