<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login</title>
        <link rel="stylesheet" th:href="@{/css/global.css}" />
    </head>
    <body>
        <div class="container is-flex is-justify-content-center is-align-items-center">
            <div class="box pb-5" style="width: 50%">
                <h1 class="title has-text-centered mt-5">Login</h1>
                <div class="columns is-justify-content-center">
                    <div class="column is-8">
                        <form th:action="@{/login}" method="POST">
                            <div th:if="${param.logout}">
                                <div class="notification is-warning is-light">
                                    You have been logged out.
                                </div>
                            </div>

                            <div th:if="${param.error}">
                                <div class="notification is-danger is-light">
                                    Invalid username or password.
                                </div>
                            </div>
                            <div class="field">
                                <label class="label" for="username">Username:</label>
                                <div class="control">
                                    <input
                                        class="input"
                                        type="text"
                                        placeholder="Username"
                                        id="username"
                                        name="username"
                                        autofocus
                                    />
                                </div>
                            </div>

                            <div class="field">
                                <label class="label" for="password">Password:</label>
                                <div class="control">
                                    <input
                                        class="input"
                                        type="password"
                                        placeholder="Password"
                                        id="password"
                                        name="password"
                                    />
                                </div>
                            </div>

                            <button
                                type="submit"
                                class="button primary-button is-medium is-fullwidth my-5"
                            >
                                Login
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
