<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1" />
        <title>Analytics</title>
        <link rel="stylesheet" th:href="@{/css/global.css}" />
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <div class="container">
            <div class="card mx-auto my-5" style="max-width: 800px !important">
                <div class="card-content">
                    <h1 class="title has-text-centered my-5">Analytics</h1>
                    <div>
                        <h3 class="is-size-4 has-text-centered">KNN Classifier</h3>
                        <nav class="level mt-5">
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading is-size-5">Test Set Accuracy</p>
                                    <p class="title" th:text="${accuracy} + '%'"></p>
                                </div>
                            </div>
                            <div class="level-item has-text-centered">
                                <div>
                                    <p class="heading is-size-5">K:</p>
                                    <p class="title" th:text="${k}"></p>
                                </div>
                            </div>
                        </nav>

                        <div class="has-text-centered">
                            <img
                                class="img-fluid"
                                alt="Test/Train Performance"
                                src="https://moodyjay.herokuapp.com/get_image"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
