<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1" />
        <title>Analytics</title>
        <link rel="stylesheet" th:href="@{/css/global.css}" />
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <h1>Analytics</h1>
        <div>
            <h3>KNN Classifier</h3>
            <ul>
                <li th:text="'test set accuracy: ' + ${accuracy} + '%'"></li>
                <li th:text="'k: ' + ${k}"></li>
            </ul>
            <div>
                <img
                    class="img-fluid"
                    src="#"
                    alt="Test/Train Performance"
                    th:src="@{http://localhost:5000/get_image}"
                />
            </div>
        </div>
        <a href="#" th:href="@{/}">Home</a>
    </body>
</html>
