<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1" />
        <title>Rate Track</title>
        <link rel="stylesheet" th:href="@{/css/global.css}" />
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <div class="container">
            <div class="card my-5 mx-auto" style="max-width: 800px !important">
                <div class="card-content">
                    <h1 class="title has-text-centered my-5">Rate Track</h1>

                    <form th:action="@{/rateTrack}" method="post" th:object="${track}">
                        <div class="my-5 is-flex is-justify-content-center is-align-items-center">
                            <label for="label" class="is-size-4 mr-3">Label:</label>
                            <div class="select is-link is-medium" name="label">
                                <select th:field="*{label.id}">
                                    <option
                                        th:if="${track.label == null}"
                                        th:value="NONE"
                                        th:selected="${track.label == null}"
                                    >
                                        Select a mood
                                    </option>
                                    <option th:if="${track.label == null}" th:value="NONE">
                                        -------------------------
                                    </option>
                                    <option
                                        th:each="label : ${labels}"
                                        th:value="${label.id}"
                                        th:text="${label.mood}"
                                        th:selected="${track.label == label}"
                                    ></option>
                                </select>
                            </div>
                        </div>
                        <div class="is-flex is-justify-content-space-between is-align-items-center">
                            <img th:src="${track.imgUrl}" class="rate-track-image" />
                            <div
                                class="is-flex is-flex-direction-column is-align-items-center"
                                style="width: 100%"
                            >
                                <nav class="level mt-5 is-flex-direction-column">
                                    <div class="level-item has-text-centered mb-3">
                                        <div>
                                            <p class="heading is-size-5">Name</p>
                                            <p
                                                class="title is-size-3"
                                                th:text="${track.trackName}"
                                            ></p>
                                        </div>
                                    </div>
                                    <div class="level-item has-text-centered mb-3">
                                        <div>
                                            <p class="heading is-size-5">Album</p>
                                            <p class="title is-size-3" th:text="${track.album}"></p>
                                        </div>
                                    </div>
                                    <div class="level-item has-text-centered mb-3">
                                        <div>
                                            <p class="heading is-size-5">Artist</p>
                                            <p
                                                class="title is-size-3"
                                                th:text="${track.artist}"
                                            ></p>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>

                        <input type="hidden" th:field="*{trackName}" />
                        <input type="hidden" th:field="*{artist}" />
                        <input type="hidden" th:field="*{album}" />
                        <input type="hidden" th:field="*{spotifyId}" />
                        <input type="hidden" th:field="*{danceability}" />
                        <input type="hidden" th:field="*{energy}" />
                        <input type="hidden" th:field="*{trackKey}" />
                        <input type="hidden" th:field="*{loudness}" />
                        <input type="hidden" th:field="*{speechiness}" />
                        <input type="hidden" th:field="*{acousticness}" />
                        <input type="hidden" th:field="*{instrumentalness}" />
                        <input type="hidden" th:field="*{liveness}" />
                        <input type="hidden" th:field="*{valence}" />
                        <input type="hidden" th:field="*{tempo}" />
                        <input type="hidden" th:field="*{imgUrl}" />
                        <div class="field is-group my-5 is-flex is-justify-content-space-between">
                            <a href="/search" class="button is-medium is-fullwidth mr-2">
                                Cancel
                            </a>
                            <button
                                type="submit"
                                class="button is-black is-medium is-fullwidth ml-2"
                            >
                                Confirm
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
