<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1" />
        <link rel="stylesheet" th:href="@{/css/global.css}" />
        <title>Search</title>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <div class="container">
            <div class="card my-5 mx-auto">
                <header class="card-header">
                    <p class="card-header-title is-size-3">Search Tracks</p>
                </header>
                <div class="card-content">
                    <div class="pb-5 mb-5" style="border-bottom: 2px solid #dcdada">
                        <label class="label">Search</label>
                        <form th:action="@{/searchTracks}">
                            <div class="field">
                                <input
                                    type="text"
                                    name="q"
                                    class="input"
                                    placeholder="Search"
                                    style="max-width: none; width: 300px"
                                />
                                <button type="submit" class="button is-black">SEARCH</button>
                            </div>
                        </form>
                    </div>

                    <form th:if="${tracks.length > 0}" th:action="@{/}">
                        <table class="table" style="width: 100%">
                            <tr>
                                <th></th>
                                <th>Track Name</th>
                                <th>Artist</th>
                                <th>Album</th>
                                <th>Action</th>
                            </tr>
                            <tr th:each="t : ${tracks}">
                                <td>
                                    <img th:src="${t.album.images[2].url}" />
                                </td>
                                <td>[[${t.name}]]</td>
                                <td>[[${t.artists[0].name}]]</td>
                                <td>[[${t.album.name}]]</td>
                                <td>
                                    <button
                                        class="button"
                                        th:formaction="@{/rateTrack/{id}(id=${t.id})}"
                                    >
                                        RATE
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
