<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View Tracks</title>
</head>
<body>
	<h1>View Tracks</h1>
		<table>
			<tr>
				<th>Album Art</th>
				<th>Track Name</th>
				<th>Artist</th>
				<th>Album</th>
				<th>Mood</th>
				<th>Set Mood</th>
				<th></th>
				<th></th>
			</tr>
			<tr th:each="track : ${tracks}">
				<td><img th:src="${track.imgUrl}" style="height: 100px" /></td>
				<td th:text="${track.trackName}"></td>
				<td th:text="${track.artist}"></td>
				<td th:text="${track.album}"></td>
				<td>
					<span th:if="${track.label != null}" th:text="${track.label.mood}"></span>
					<span th:unless="${track.label == null}"></span>
				</td>
				<td>
					<select>
						<option th:each="label : ${labels}" th:value="${label.id}" th:text="${label.mood}"></option>
					</select>
				</td>
				<td><a>SAVE</a></td>
				<td><a th:href="@{/deleteTrack/{id}(id=${track.spotifyId})}">DELETE</a></td>
			</tr>
			<tr>
				<td><a>ADD SONG</a></td>
			</tr>
		</table>
		<a th:href="@{/}">HOME</a>
</body>
</html>